In [1]:
!pip3 install psycopg2

Requirement already satisfied: psycopg2 in c:\users\vivek\anaconda3\lib\site-packages (2.9.9)

In [2]:
import psycopg2
import numpy as np

C:\Users\vivek\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\vivek\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\vivek\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
# establishing the connection
conn = psycopg2.connect(
    database="postgres",
    user='postgres',
    password='postgrespassword',
    host='localhost',
    port='5432'
)

In [4]:
# Creating a cursor object using the cursor() method
cursor = conn.cursor()

# Check if the volunteer_table_test table exists
cursor.execute("SELECT EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'volunteer_table_test')")
table_exists = cursor.fetchone()[0]

# If the table exists, drop it
if table_exists:
    cursor.execute("DROP TABLE IF EXISTS volunteer_table_test")
    

    
    
# Creating a second cursor object using the cursor() method
cursor2 = conn.cursor()

# Check if the event_list table exists
cursor2.execute("SELECT EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'event_list')")
table_exists = cursor2.fetchone()[0]

# If the table exists, drop it
if table_exists:
    cursor2.execute("DROP TABLE IF EXISTS event_list")

In [5]:
# SQL statement to create the table
sql = '''CREATE TABLE VOLUNTEER_TABLE_TEST(
   EMAIL VARCHAR(255) NOT NULL PRIMARY KEY,
   PASSWORD VARCHAR(100) NOT NULL  
)'''
cursor.execute(sql)





# SQL statement to create the table
sql2 = '''CREATE TABLE EVENT_LIST(
   EVENT_NAME VARCHAR(255) NOT NULL PRIMARY KEY,
   DATETIME VARCHAR(100) NOT NULL,
   EVENT_DESCRIPTION VARCHAR(1000),
   REQUIRED_VOLUNTEER_COUNT INT,
   NO_SIGN_UPS INT
)'''
cursor2.execute(sql2)

In [6]:
# Inserting values into the credentials table
insert_stmt1 = "INSERT INTO VOLUNTEER_TABLE_TEST (EMAIL, PASSWORD) VALUES (%s, %s)"
data1 = [('TEST1', 'pw1'),
        ('TEST2', 'pw2'),
        ]
cursor.executemany(insert_stmt1, data1)


# Inserting values into the events table
insert_stmt2 = "INSERT INTO EVENT_LIST (EVENT_NAME, DATETIME, EVENT_DESCRIPTION, REQUIRED_VOLUNTEER_COUNT, NO_SIGN_UPS) VALUES (%s, %s, %s, %s, %s)"
data2 = [('EVENT1', 'May 1, 2024, 1 pm', '', 54, 52),
        ('EVENT2', 'May 2, 2024, 10 am', "", 75, 23),
        ]
cursor2.executemany(insert_stmt2, data2)

In [7]:
# Display whole table
# cursor.execute("SELECT * FROM VOLUNTEER_TABLE_TEST")
# data = cursor.fetchall()[0]
# print(type(data),'\n\n', data,'\n\n', data[0])

In [8]:
cursor.execute("SELECT COUNT(EMAIL) FROM VOLUNTEER_TABLE_TEST;")
cursor2.execute("SELECT REQUIRED_VOLUNTEER_COUNT, NO_SIGN_UPS FROM EVENT_LIST;")
# SELECT COUNT(column_name) FROM table_name;

In [9]:
volunteer_count = cursor.fetchall()[0][0]
avg_sign_up_tuples = cursor2.fetchall()
# print(volunteer_count[0][0])
# print(data,'\n\n', volunteer_count,'\n\n')

In [10]:
print(f"Count signed up volunteer count is {volunteer_count}")
print(f"\n\nThe required number and the total numbner of sign ups are {avg_sign_up_tuples}")

# Calculate the ratios
avg_sign_ups = [second_column / first_column for first_column, second_column in avg_sign_up_tuples]

print(f"\n\nThe sign up percentages for each event are {avg_sign_ups}")

print(f"\n\nThe average sign up percentage is {np.mean(avg_sign_ups)}")

Count signed up volunteer count is 2


The required number and the total numbner of sign ups are [(54, 52), (75, 23)]


The sign up percentages for each event are [0.9629629629629629, 0.30666666666666664]


The average sign up percentage is 0.6348148148148147

In [11]:
# Commit your changes in the database
conn.commit()

# Closing the connection
conn.close()